<div id="container-all"><!--Div nay co the xoa di khi copy tung section vao component-->
  <section id="top">
    <div class="container">
      <app-header></app-header>
      <div class="wrapper">
        <div class="title">
          <p>こんにちは！　史郎　太郎さん[ログイン中]</p>
          <p>お客様おご担当店舗は <a class="text-link" alt="" title="">保険クリニック店舗名</a>です。</p>
        </div>

        <div class="content">
          <div class="box menu-board">
            <div class="item item-4-12">
              <div class="menu-board-icon"><i class="pi pi-image" style="font-size: 3em"></i></div>
              <h5 class="menu-board-title">ご予約</h5>
            </div>
            <div class="item item-4-12">
              <div class="menu-board-icon"><i class="pi pi-image" style="font-size: 3em"></i></div>
              <h5 class="menu-board-title">ご予約一覧</h5>
            </div>
            <div class="item item-4-12">
              <div class="menu-board-icon"><i class="pi pi-image" style="font-size: 3em"></i></div>
              <h5 class="menu-board-title">保険手続き</h5>
            </div>
            <div class="item item-4-12">
              <div class="menu-board-icon"><i class="pi pi-image" style="font-size: 3em"></i></div>
              <h5 class="menu-board-title">ご相談時<br>の資料</h5>
            </div>
            <div class="item item-4-12">
              <div class="menu-board-icon"><i class="pi pi-image" style="font-size: 3em"></i></div>
              <h5 class="menu-board-title">簡易診断</h5>
            </div>
            <div class="item item-4-12">
              <div class="menu-board-icon"><i class="pi pi-image" style="font-size: 3em"></i></div>
              <h5 class="menu-board-title">お客様情報</h5>
            </div>
          </div>

          <div class="news">
            <h4 class="head">お知らせ</h4>
            <div class="box news">
              <div class="new-item">
                <div class="date item-4-12">2018/11/14</div>
                <div class="title item-8-12">
                  <a class="text-link" new-item alt="" title="">【予約確認】大阪店で11月５日14:00にお待ちしております。</a>
                </div>
              </div>
              <div class="new-item">
                <div class="date item-4-12">2018/11/14</div>
                <div class="title item-8-12">
                  <a class="text-link" new-item alt="" title="">【予約確認】大阪店で11月５日14:00にお待ちしております。</a>
                </div>
              </div>
              <div class="new-item">
                <div class="date item-4-12">2018/11/14</div>
                <div class="title item-8-12">
                  <a class="text-link" new-item alt="" title="">【予約確認】大阪店で11月５日14:00にお待ちしております。</a>
                </div>
              </div>
              <div class="new-item">
                <div class="date item-4-12">2018/11/14</div>
                <div class="title item-8-12">
                  <a class="text-link" new-item alt="" title="">【予約確認】大阪店で11月５日14:00にお待ちしております。</a>
                </div>
              </div>
              <div class="new-item">
                <div class="date item-4-12">2018/11/14</div>
                <div class="title item-8-12">
                  <a class="text-link" new-item alt="" title="">【予約確認】大阪店で11月５日14:00にお待ちしております。</a>
                </div>
              </div>
              <div class="new-item">
                <div class="date item-4-12">2018/11/14</div>
                <div class="title item-8-12">
                  <a class="text-link" new-item alt="" title="">【予約確認】大阪店で11月５日14:00にお待ちしております。</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer-link></app-footer-link>
      <app-footer></app-footer>
    </div>
  </section>

  <!--ReservationGuide-->
  <section id="ReservationGuide">
      <div class="container">
          <app-header></app-header>
          <div class="wrapper">
              <h2 class="sub-page-title fs-25">ご予約</h2>
              <div class="content">

                  <div class="box">
                    <div class="banner-content">
                      <p class="text-left">担当店舗でWeb予約する</p>
                      <div class="text-center">
                        <div class="btn-register btn btn-orange item-10-12">
                          <div class="icon item item-2-12"><i class="pi pi-user fs-20"></i></div>
                          <div class="guid item item-8-12 fs-10">
                            <p>ネットで<span class="fs-20">無料相談予約</span></p>
                          </div>
                          <div class="arrow item item-2-12 text-right"><i class="pi pi-arrow-right fs-16"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="box">
                    <div class="banner-content">
                      <p class="text-left">担当店舗でWeb予約する</p>
                      <div class="text-center">
                        <div class="btn-register btn btn-orange item-10-12">
                          <div class="icon item item-2-12"><i class="pi pi-user fs-20"></i></div>
                          <div class="guid item item-8-12">
                            <p>無料相談予約カタカナあああカタカナあああカタカナ</p>
                          </div>
                          <div class="arrow item item-2-12 text-right"><i class="pi pi-arrow-right fs-16"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="box">
                    <div class="banner-content">
                      <p class="text-left">担当店舗でWeb予約する</p>
                      <div class="text-center">
                        <div class="btn-register btn btn-orange item-10-12">
                          <div class="icon item item-2-12"><i class="pi pi-user fs-20"></i></div>
                          <div class="guid item item-8-12 fs-10">
                            <p>ネットで<span class="fs-20">無料相談予約</span></p>
                          </div>
                          <div class="arrow item item-2-12 text-right"><i class="pi pi-arrow-right fs-16"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="box">
                    <div class="banner-content">
                      <p class="text-left">担当店舗でWeb予約する</p>
                      <div class="text-center">
                        <div class="btn-register btn btn-orange item-10-12">
                          <div class="icon item item-2-12"><i class="pi pi-user fs-20"></i></div>
                          <div class="guid item item-8-12 fs-10">
                            <p>ネットで<span class="fs-20">無料相談予約</span></p>
                          </div>
                          <div class="arrow item item-2-12 text-right"><i class="pi pi-arrow-right fs-16"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>

              </div>
          </div>
      <app-footer-link></app-footer-link>
      <app-footer></app-footer>
      </div>
  </section>

  <!--ReservationList-->
  <section id="ReservationList">
      <div class="container">
        <app-header></app-header>
        <div class="wrapper">
            <h2 class="sub-page-title fs-25">ご予約一覧（本部様の保険）</h2>
            <div class="content">

              <!-- INSTALL CAROUSEL OWL SLIDER -->
              <!-- 1. ref https://www.npmjs.com/package/ngx-owl-carousel-o#get-started -->
              <div class="box contract">
                <div class="wrapper item item-12-12">
                  <div class="item item-11-12">
                      <owl-carousel-o [options]="customOptions" #owlGuide>
                        <ng-template carouselSlide *ngFor="let data of datas">
                          <div class="contract-item">
                            <img class="contract-face" src="{{ data.image }}" alt="" title="">
                            <div class="contract-name text-center">{{ data.name }}</div>
                          </div>
                        </ng-template>
                      </owl-carousel-o>
                  </div>
                  <div class="next-button item item-1-12" (click)="owlGuide.next()"><i class="pi pi-angle-double-right"></i></div>
                </div>
              </div>
              <div class="box text-left family-insurance-fee">
                <div class="item item-6-12">月額保険料：17,704円</div>
                <div class="item item-6-12">年額保険料：152,448円</div>
              </div>
              
              <div class="box">
                <div class="family-insurance-detail item-12-12">
                  <div class="icon item item-2-12"><i class="pi pi-user fs-20"></i></div>
                  <div class="detail fs-12 item item-5-12">
                    <p>アクサ損害保険</p>
                    <p>ベストスタイル</p>
                    <p>保険料：12,704円/月払</p>
                  </div>
                  <div class="payment-status fs-9 item item-4-12">
                    <div class="status">予約中（保険料支払込中）</div>
                  </div>
                  <div class="trash item item-1-12 text-right">
                    <i class="pi pi-trash fs-16"></i>
                  </div>
                </div>
              </div>

              <div class="box">
                <div class="family-insurance-detail item-12-12">
                  <div class="icon item item-2-12"><i class="pi pi-user fs-20"></i></div>
                  <div class="detail fs-12 item item-5-12">
                    <p>アクサ損害保険</p>
                    <p>ベストスタイル</p>
                    <p>保険料：12,704円/月払</p>
                  </div>
                  <div class="payment-status fs-9 item item-4-12">
                    <div class="status">予約中（保険料支払込中）</div>
                  </div>
                  <div class="trash item item-1-12 text-right">
                    <i class="pi pi-trash fs-16"></i>
                  </div>
                </div>
              </div>

              <div class="box">
                <div class="family-insurance-detail item-12-12">
                  <div class="icon item item-2-12"><i class="pi pi-user fs-20"></i></div>
                  <div class="detail fs-12 item item-5-12">
                    <p>アクサ損害保険</p>
                    <p>ベストスタイル</p>
                    <p>保険料：12,704円/月払</p>
                  </div>
                  <div class="payment-status fs-9 item item-4-12">
                    <div class="status">予約中（保険料支払込中）</div>
                  </div>
                  <div class="trash item item-1-12 text-right">
                    <i class="pi pi-trash fs-16"></i>
                  </div>
                </div>
              </div>

              <div class="box">
                <div class="family-insurance-detail item-12-12">
                  <div class="icon item item-2-12"><i class="pi pi-user fs-20"></i></div>
                  <div class="detail fs-12 item item-5-12">
                    <p>アクサ損害保険</p>
                    <p>ベストスタイル</p>
                    <p>保険料：12,704円/月払</p>
                  </div>
                  <div class="payment-status fs-9 item item-4-12">
                    <div class="status">予約中（保険料支払込中）</div>
                  </div>
                  <div class="trash item item-1-12 text-right">
                    <i class="pi pi-trash fs-16"></i>
                  </div>
                </div>
              </div>

              <div class="add-more text-center box item-12-12">
                  <div class="icon text-center item-1-12 item"><i class="pi pi-plus-circle fs-25"></i></div>
                  <div class="text-left item-4-12 item fs-16">保険証券の追加</div>
              </div>
            </div>
          </div>
      <app-footer-link></app-footer-link>
      <app-footer></app-footer>
      </div>
  </section>

  <!--CameraStart-->
  <section id="CameraStart">
      <div class="container">
        <app-header></app-header>
        <div class="wrapper">
            <h2 class="text-center fs-25">保険証券をカメラ撮影します。</h2>
            <div class="content">
              <div class="box guid">
                <div class="item item-12-12">
                  <div class="item item-4-12"><img src="assets/image/contract_true.png" title="" alt="" /></div>
                  <div class="item item-8-12">
                    <h3>1予約単位</h3>
                    <p>保険証券の保険内容登録は、１予約単位になりますので、ご注意ください。</p>
                  </div>
                </div>
              </div>

              <div class="box guid">
                <div class="item item-12-12">
                  <div class="item item-4-12"><img src="assets/image/contract_fail.png" title="" alt="" /></div>
                  <div class="item item-8-12">
                    <p>保険証券全体が枠内に入るように撮影してください。</p>
                  </div>
                </div>
              </div>
              <hr />
              <div class="box combo">
                <div class="item item-4-12">保険会社</div>
                <div class="item item-8-12"><p-dropdown styleClass="dropdown-w-100" laceholder="" optionLabel="name" [showClear]="true"></p-dropdown></div>
              </div>
              <div class="box text-center capture">
                <div class="btn-capture item item-11-12 text-center">撮影　<i class="pi pi-arrow-right"></i></div>
              </div>
              <div class="box text-center non-capture">
                <div class="item item-12-12 text-center"><a href="#" class="text-link">撮影せずに手入力する</a></div>
              </div>
            </div>
        </div>
      <app-footer-link></app-footer-link>
      <app-footer></app-footer>
      </div>
  </section>
  
  <!--CameraCapture-->
  <section id="CameraCaputre">
    <div class="container">
      <app-header></app-header>
      <div class="wrapper">
        <hr class="horizonal-line">
        <div class="title text-center">
          <p><strong>画像補正中です</strong></p>
          <p>しばらくお待ちください</p>
        </div>
        <div class="preview box text-center clearfix">
          <div class="item item-6-12">
            <img src="assets/image/ocr-demo.png" width="100%">
            <div class="item loading item-4-12">
              <img src="assets/image/Spinner-1s-200px.gif" width="100%">
            </div>
          </div>
        </div>
        <hr class="horizonal-line">
        <!--Ads block is comming soon-->
      </div>
      <app-footer-link></app-footer-link>
      <app-footer></app-footer>
    </div>
  </section>

  <!--CameraImageConfirm-->
  <section id="CameraImageConfirm">
    <div class="container">
      <app-header></app-header>
      <div class="wrapper">
        <hr class="horizonal-line">
        <div class="title text-center">
          <p><strong>画像補正を実施しました。</strong></p>
          <p>ピントがあってない場合や枠内に証券画像全体が入ってない場合は再撮影してください</p>
        </div>
        <div class="box">
          <div class="item-12-12 text-center">
            <div class="prev-button item item-2-12" (click)="owlCar.prev()"><span><i *ngIf="FirstItem" class="pi pi-angle-double-left"></i></span></div>
            <div class="item item-8-12 v-middle">
                <owl-carousel-o [options]="imageConfirmOption" (translated)="getPassedData($event)"  #owlCar>
                  <ng-template carouselSlide *ngFor="let data of imgDatas; index as i">
                    <img class="contract-face" src="{{ data.image }}" alt="" title="">
                  </ng-template>
                </owl-carousel-o>
            </div>
            <div class="next-button item item-2-12" (click)="owlCar.next()"><span><i *ngIf="LastItem" class="pi pi-angle-double-right"></i></span></div>
          </div>
        </div>

        <hr class="horizonal-line">
        
        <div class="box text-center">
            <div class="btn btn-gray item item-11-12 text-center"><i class="pi pi-arrow-left"></i>　再撮影する（やり直す）</div>

            <div class="btn btn-orange item item-11-12 text-center">追加撮影する（2ページ目や裏面がある場合）　<i class="pi pi-arrow-right"></i></div>

            <div class="btn btn-orange item item-11-12 text-center">証券画像を登録する　<i class="pi pi-arrow-right"></i></div>
        </div>
      </div>
      <app-footer-link></app-footer-link>
      <app-footer></app-footer>
    </div>
  </section>

 

  

  <!--ConsultationDocumentList-->
  <section id="ConsultationDocumentList">
    <div class="container">
      <app-header></app-header>
      <div class="wrapper">
        <h2 class="sub-page-title fs-25">ご相談時の資料</h2>
        <div class="title fs-12">
          <p>ご相談いただきありがとうございました。</p>
          <p>ご相談いただいた際にご説明した資料をPDFでダウンロード可能です。<br>（ご相談日より1年間閲覧可能です）</p>
        </div>
        <div class="content">
          <div class="box">
            <div class="row fs-12">
              <div class="item item-4-12 v-top">2018/11/21ご相談時</div>
              <div class="item item-6-12 v-top">本部　太郎様<br/>契約分析シート</div>
              <div class="item item-2-12"><img src="assets/image/pdf_icon.png" width="100%"></div>
            </div>
            <div class="row fs-12">
              <div class="item item-4-12 v-top">2018/11/21ご相談時</div>
              <div class="item item-6-12 v-top">本部　太郎様<br/>契約分析シート</div>
              <div class="item item-2-12"><img src="assets/image/pdf_icon.png" width="100%"></div>
            </div>
            <div class="row fs-12">
              <div class="item item-4-12 v-top">2018/11/21ご相談時</div>
              <div class="item item-6-12 v-top">本部　太郎様<br/>契約分析シート</div>
              <div class="item item-2-12"><img src="assets/image/pdf_icon.png" width="100%"></div>
            </div>
            <div class="row fs-12">
              <div class="item item-4-12 v-top">2018/11/21ご相談時</div>
              <div class="item item-6-12 v-top">本部　太郎様<br/>契約分析シート</div>
              <div class="item item-2-12"><img src="assets/image/pdf_icon.png" width="100%"></div>
            </div>
            <div class="row fs-12">
              <div class="item item-4-12 v-top">2018/11/21ご相談時</div>
              <div class="item item-6-12 v-top">本部　太郎様<br/>契約分析シート</div>
              <div class="item item-2-12"><img src="assets/image/pdf_icon.png" width="100%"></div>
            </div>
            <div class="row fs-12">
              <div class="item item-4-12 v-top">2018/11/21ご相談時</div>
              <div class="item item-6-12 v-top">本部　太郎様<br/>契約分析シート</div>
              <div class="item item-2-12"><img src="assets/image/pdf_icon.png" width="100%"></div>
            </div>
          </div>
          <div class="box text-center clearfix">
            <div class="item loading text-center item-6-12">
              <img src="assets/image/Spinner-1s-200px.gif" width="100%">
            </div>
          </div>
        </div>
      </div>
    <app-footer-link></app-footer-link>
    <app-footer></app-footer>
    </div>
  </section>

  <!--CustomerInforSetting-->
  <section id="CustomerInforSetting">
    <div class="container">
      <app-header></app-header>
      <div class="wrapper">
        <h2 class="sub-page-title fs-25">お客様情報設定</h2>
        <div class="content fs-14">
          <div class="box">
            <div class="row">
              <div class="item item-12-12"><a href="#" class="text-link">ご本人・ご家族の設定</a></div>
              <div class="item item-12-12">ご本人・ご家族のお名前・性別・生年月日の確認/追加・変更を行えます。</div>
            </div>
            <div class="row">
              <div class="item item-12-12"><a href="#" class="text-link">担当店舗/連絡先設定</a></div>
              <div class="item item-12-12">保険クリニック担当代理店の確認/変更、加入された保険会社/他代理店の追加・変更を行えます。</div>
            </div>
            <div class="row">
              <div class="item item-12-12"><a href="#" class="text-link">パスワード変更</a></div>
              <div class="item item-12-12">パスワードの変更を行えます。</div>
            </div>
            <div class="row">
              <div class="item item-12-12"><a href="#" class="text-link">メール配信設定</a></div>
              <div class="item item-12-12">お知らせをご登録いただいたメールアドレスに配信するか設定を行えます。</div>
            </div>
         </div>
        </div>
      </div>
    <app-footer-link></app-footer-link>
    <app-footer></app-footer>
    </div>
  </section>

  <!--CustomerInforList-->
  <section id="CustomerInforList">
    <div class="container">
      <app-header></app-header>
      <div class="wrapper">
        <h2 class="sub-page-title fs-25">ご本人・ご家族の設定</h2>
        <div class="content fs-14">
          <div class="box">

            <div class="row">
              <h3 class="item item-12-12">ご本人設定</h3>
              <div class="child item-12-12">
                <div class="item item-3-12 v-middle text-center">本人</div>
                <div class="item item-9-12 v-middle">
                  本部　太郎様<br/>
                  1985/2/1　男性<br/>
                  090-1234-5678<br/>
                  <a mail:to="abc@irrc.co.jp">abc@irrc.co.jp</a>
                </div>
              </div>
            </div>

            <div class="row">
              <h3 class="item item-12-12">ご家族設定</h3>
              <div class="child item-12-12">
                <div class="item item-3-12 v-middle text-center">妻</div>
                <div class="item item-8-12 v-middle">
                  本部　太郎様<br/>
                  1985/2/1　女性<br/>
                </div>
                <div class="item item-1-12 v-top trash"><i class="pi pi-trash fs-16"></i></div>
              </div>

              <div class="child item-12-12">
                <div class="item item-3-12 v-middle text-center">妻</div>
                <div class="item item-8-12 v-middle">
                  本部　太郎様<br/>
                  1985/2/1　女性<br/>
                </div>
                <div class="item item-1-12 v-top trash"><i class="pi pi-trash fs-16"></i></div>
              </div>
            </div>

            <div class="add-more box item-12-12">
                <div class="icon text-right item-6-12 item v-middle"><i class="pi pi-plus-circle fs-25"></i></div>
                <div class="text-left item-6-12 item fs-16 v-middle">追加</div>
            </div>
          </div>
        </div>
      </div>
      <app-footer-link></app-footer-link>
      <app-footer></app-footer> 
    </div>
  </section>

  
  <!--AgencyList-->
  <section id="CustomerInforList">
    <div class="container">
      <app-header></app-header>
      <div class="wrapper">
        <h2 class="sub-page-title fs-25">代理店の設定</h2>
        <div class="content fs-14">
          <div class="box form-input">

            <div class="row">
              <h3 class="item item-12-12">担当保険クリニック</h3>
              <div class="child item-12-12">
                <div class="box">
                  <div class="item item-3-12 v-middle text-center">店舗</div>
                  <div class="item item-9-12 v-middle">大阪ニューシティ店</div>
                </div>

                <div class="box">
                  <div class="item item-3-12 v-middle text-center">電話番号</div>
                  <div class="item item-9-12 v-middle">0120-1234-567</div>
                </div>

                <div class="box">
                  <div class="item item-3-12 v-middle text-center">住所</div>
                  <div class="item item-9-12 v-middle">
                    〒141-0032 東京部品川1-65<br>
                    東京部品川1-65<br>
                  </div>
                </div>

                <div class="box">
                  <div class="item item-3-12 v-middle text-center">営業時間</div>
                  <div class="item item-9-12 v-middle">10:00 ~ 21:00（土日～19:00）</div>
                </div>
              </div>
            </div>

            <div class="row">
              <h3 class="item item-12-12">その他連絡先</h3>
              <div class="child item-12-12">
                <div class="box">
                  <div class="item item-3-12 v-middle text-center">連絡先名</div>
                  <div class="item item-8-12 v-middle">保険の入口</div>
                  <div class="item item-1-12 v-top trash"><i class="pi pi-trash fs-16"></i></div>
                </div>

                <div class="box">
                  <div class="item item-3-12 v-middle text-center">担当者</div>
                  <div class="item item-9-12 v-middle">智道広瀬</div>
                </div>

                <div class="box">
                  <div class="item item-3-12 v-middle text-center">電話番号</div>
                  <div class="item item-9-12 v-middle">0120-1234-567</div>
                </div>

                <div class="box">
                  <div class="item item-3-12 v-middle text-center">URL</div>
                  <div class="item item-9-12 v-middle"><a class="text-link">https://</a></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="child item-12-12">
                <div class="box">
                  <div class="item item-3-12 v-middle text-center">連絡先名</div>
                  <div class="item item-8-12 v-middle">保険の入口</div>
                  <div class="item item-1-12 v-top trash"><i class="pi pi-trash fs-16"></i></div>
                </div>

                <div class="box">
                  <div class="item item-3-12 v-middle text-center">担当者</div>
                  <div class="item item-9-12 v-middle">智道広瀬</div>
                </div>

                <div class="box">
                  <div class="item item-3-12 v-middle text-center">電話番号</div>
                  <div class="item item-9-12 v-middle">0120-1234-567</div>
                </div>

                <div class="box">
                  <div class="item item-3-12 v-middle text-center">URL</div>
                  <div class="item item-9-12 v-middle"><a class="text-link">https://</a></div>
                </div>
              </div>
            </div>

            <div class="add-more box item-12-12">
                <div class="icon text-right item-6-12 item v-middle"><i class="pi pi-plus-circle fs-25"></i></div>
                <div class="text-left item-6-12 item fs-16 v-middle">追加</div>
            </div>
          </div>
        </div>
      </div>
      <app-footer-link></app-footer-link>
      <app-footer></app-footer> 
    </div>
  </section>

  <!--AgencyInput-->
  <section id="AgencyInput">
    <div class="container">
      <app-header></app-header>
      <div class="wrapper">
        <h2 class="sub-page-title fs-25">連絡先の設定</h2>
        <div class="title">
          <p>（ご加入された保険会社または保険ショップ（代理店）を登録）</p>
        </div>
        <div class="content">
          <div class="box form-input">
            <div class="row">
              <div class="item item-4-12">連絡先名</div>
              <div class="item item-8-12">
                  <input class="w-100 h-35" autocomplete="off" type="text" pInputText>
              </div>
            </div>

            <div class="row">
              <div class="item item-4-12">電話番号</div>
              <div class="item item-8-12">
                <input class="w-100 h-35" autocomplete="off" type="text" pInputText>
              </div>
            </div>
  
            <div class="row">
              <div class="item item-4-12">担当者</div>
              <div class="item item-8-12">
                  <input class="w-100 h-35" autocomplete="off" type="text" pInputText>
              </div>
            </div>

            <div class="row">
              <div class="item item-4-12">URL</div>
              <div class="item item-8-12">
                  <input class="w-100 h-35" autocomplete="off" type="text" pInputText>
              </div>
            </div>

          </div>

          <div class="box">
            <div class="item item-5-12"><button class="btn-gray h-35 w-100" pButton type="button" label="戻る"></button></div>
            <div class="item item-2-12"></div>
            <div class="item item-5-12"><button class="btn-orange h-35 w-100" pButton type="button"
              label="登録"></button></div>
          </div>
        </div>
      </div>
      <app-footer-link></app-footer-link>
      <app-footer></app-footer>
    </div>
  </section>

  <!--MailUpdate-->
  <section id="MailUpdate">
    <div class="container">
      <app-header></app-header>
      <div class="wrapper">
        <h2 class="sub-page-title fs-25">メールアドレス（ID）の変更</h2>
        <div class="content">
          <div class="box">
            <div class="row">
              <div class="item item-5-12 fs-12">変更のメールアドレス（ID)</div>
              <div class="item item-7-12">
                  <input class="w-100 h-35" autocomplete="off" type="text" pInputText>
              </div>
            </div>
            <p class="fs-14">※メールアドレスを変更すると変更後のメールアドレス宛に認証用URLが発生されます。</p>
          </div>

          <div class="box">
            <div class="item item-5-12"><button class="btn-gray h-35 w-100" pButton type="button" label="戻る"></button></div>
            <div class="item item-2-12"></div>
            <div class="item item-5-12"><button class="btn-orange h-35 w-100" pButton type="button"
              label="変更"></button></div>
          </div>
        </div>
      </div>
      <app-footer-link></app-footer-link>
      <app-footer></app-footer>
    </div>
  </section>

  <!--MailUpdate-->
  <section id="MailUpdateSucess">
    <div class="container">
      <app-header></app-header>
      <div class="wrapper">
        <h2 class="sub-page-title fs-25">メールアドレス（ID）の変更</h2>
        <div class="content">
          <div class="box">
            <p class="fs-14">※メールアドレスを変更すると変更後のメールアドレス宛に認証用URLが発生されます。</p>
          </div>

          <div class="box text-center">
            <div class="item item-10-12"><button class="btn-orange h-35 w-100" pButton type="button"
              label="ホーム画面へ戻る"></button></div>
          </div>
        </div>
      </div>
      <app-footer-link></app-footer-link>
      <app-footer></app-footer>
    </div>
  </section>

  <!--PasswordChange-->
  <section id="PasswordChange">
    <div class="container">
      <app-header></app-header>
      <div class="wrapper">
        <h2 class="sub-page-title fs-25">パスワードの変更</h2>
        <div class="content">
          <div class="box form-input">
            <div class="row">
              <div class="item v-top item-4-12">現在のパスワード<span class="error">*</span></div>
              <div class="item v-top item-8-12">
                  <input class="w-100 h-35" autocomplete="off" type="text" pInputText>
              </div>
            </div>
            <div class="row">
              <div class="item v-top item-4-12">新しいパスワード</div>
              <div class="item v-top item-8-12">
                  <input class="w-100 h-35" autocomplete="off" type="text" pInputText>
              </div>
            </div>

            <div class="row">
              <div class="item v-top item-4-12">新しいパスワード（確認）</div>
              <div class="item v-top item-8-12">
                  <input class="w-100 h-35" autocomplete="off" type="text" pInputText>
              </div>
            </div>
            <div class="item item-5-12"><button class="btn-gray h-35 w-100" pButton type="button" label="戻る"></button></div>
            <div class="item item-2-12"></div>
            <div class="item item-5-12"><button class="btn-orange h-35 w-100" pButton type="button"
              label="変更"></button></div>
          </div>
        </div>
      </div>
      <app-footer-link></app-footer-link>
      <app-footer></app-footer>
    </div>
  </section>

  <!--PasswordChangeSucess-->
  <section id="PasswordChangeSucess">
    <div class="container">
      <app-header></app-header>
      <div class="wrapper">
        <h2 class="sub-page-title fs-25">パスワードの変更</h2>
        <div class="content">
          <div class="box">
            <p class="fs-14">パスワードを変更しました。</p>
          </div>

          <div class="box text-center">
            <div class="item item-10-12"><button class="btn-orange h-35 w-100" pButton type="button"
              label="ホーム画面へ戻る"></button></div>
          </div>
        </div>
      </div>
      <app-footer-link></app-footer-link>
      <app-footer></app-footer>
    </div>
  </section>

  <!--NotificationList-->
  <section id="ConsultationDocumentList">
    <div class="container">
      <app-header></app-header>
      <div class="wrapper">
        <h2 class="sub-page-title fs-25">お知らせ</h2>
        <div class="title fs-12">
          <p>直近１年間のお知らせ情報を表示します</p>
        </div>
        <div class="content">
          <div class="box">
            <div class="row fs-12">
              <div class="item item-4-12 v-top">2018/11/21ご相談時</div>
              <div class="item item-8-12 v-top"><a href="#" class="text-link">【予約確認】大母店にて１１月１５日14:00にお待ちしております。</a></div>
            </div>
            <div class="row fs-12">
              <div class="item item-4-12 v-top">2018/11/21ご相談時</div>
              <div class="item item-8-12 v-top"><a href="#" class="text-link">【予約確認】大母店にて１１月１５日14:00にお待ちしております。</a></div>
            </div>
          </div>
          <div class="box text-center clearfix">
            <div class="item loading text-center item-6-12">
              <img src="assets/image/Spinner-1s-200px.gif" width="100%">
            </div>
          </div>
        </div>
      </div>
    <app-footer-link></app-footer-link>
    <app-footer></app-footer>
    </div>
  </section>

  <!--InsuranceProcedureSelect-->
  <section id="InsuranceProcedureSelect">
    <div class="container">
      <app-header></app-header>
      <div class="wrapper">
        <h2 class="sub-page-title fs-25">保険契約に関する手続き</h2>
        <div class="title fs-12">
          <p>保険クリニックでご契約いただいた保険契約に関する手続きを行えます。</p>
          <p>（保険クリニック以外でご契約いただいた保険契約につきましてはご加入された連絡先にご連絡ください。）</p>
          <p>※お急ぎの場合は担当店舗でお電話ください。</p>
        </div>
        <div class="content fs-14">
          <div class="box">
            <div class="row">
              <div class="item item-12-12"><a href="#" class="text-link">保険契約にかんする手続き依頼</a></div>
              <div class="item item-12-12">
                <p>・テキストテキストテキストテキストテキストテキストテキスト</p>
                <p>・テキストテキストテキストテキストテキストテキストテキスト</p>
                <p>・テキストテキストテキストテキストテキストテキストテキスト</p>
              </div>
            </div>
            <div class="row">
              <div class="item item-12-12"><a href="#" class="text-link">保険契約にかんする手続き依頼</a></div>
              <div class="item item-12-12">
                <p>・テキストテキストテキストテキストテキストテキストテキスト</p>
                <p>・テキストテキストテキストテキストテキストテキストテキスト</p>
                <p>・テキストテキストテキストテキストテキストテキストテキスト</p>
              </div>
            </div>
         </div>
        </div>
      </div>
    <app-footer-link></app-footer-link>
    <app-footer></app-footer>
    </div>
  </section>

  <!--InsuranceProcedureRegister-->
  <section id="InsuranceProcedureRegister">
    <div class="container">
      <app-header></app-header>
      <div class="wrapper">
        <h2 class="sub-page-title fs-25">保険契約に関する手続き</h2>
        <div class="title fs-12">
          <p>保険クリニックでご契約いただいた保険契約に関する手続きを行えます。</p>
          <p>（保険クリニック以外でご契約いただいた保険契約につきましてはご加入された連絡先にご連絡ください。）</p>
          <p>※お急ぎの場合は担当店舗でお電話ください。</p>
        </div>
        <div class="content">
          <div class="box progress-bar">
            <div class="item item-3-12"><span class="step">STEP1</span></div>
            <div class="item item-9-12">ご希望のお手続きについて</div>
            <div class="process"><div class="percentage" style="width: 20%"></div></div>
          </div>
          <div class="box form-input">
            <div class="row">
              <h3 class="sub-page-title fs-16">ご希望のお手続きをお選びください。<br>（複数選択できます）</h3>
            </div>
            <div class="row">
              <div class="item item-12-12">
                <button class="h-35 w-100" pButton type="button" label="住所の変更"></button>
              </div>
            </div>
            <div class="row">
              <div class="item item-12-12">
                <button class="h-35 w-100" pButton type="button" label="電話番号の変更"></button>
              </div>
            </div>
            <div class="row">
              <div class="item item-12-12">
                <button class="h-35 w-100" pButton type="button" label="名義の変更"></button>
              </div>
            </div>
            <div class="row">
              <div class="item item-12-12">
                <button class="h-35 w-100" pButton type="button" label="受取人の変更"></button>
              </div>
            </div>
            <div class="row">
              <div class="item item-12-12">
                <button class="h-35 w-100" pButton type="button" label="保険料お支払い方法の変更"></button>
              </div>
            </div>
            <div class="row">
              <div class="item item-12-12">
                <button class="h-35 w-100" pButton type="button" label="払方（月払・年払等）の変更"></button>
              </div>
            </div>
            <div class="row">
              <div class="item item-12-12">
                <button class="h-35 w-100" pButton type="button" label="その他の手続き"></button>
              </div>
            </div>
          </div>
        </div>

        <!--keiyaku about-->
        <div class="content">
          <div class="box progress-bar">
            <div class="item item-3-12"><span class="step">STEP1</span></div>
            <div class="item item-9-12">ご契約について</div>
            <div class="process"><div class="percentage" style="width: 30%"></div></div>
          </div>
          <div class="box form-input">
            <div class="row">
              <h3 class="sub-page-title fs-16">ご契約者をお選びください。</h3>
            </div>
            <div class="row">
              <div class="item item-12-12">
                <button class="h-35 w-100" pButton type="button" label="太郎さま"></button>
              </div>
            </div>
            <div class="row">
              <div class="item item-12-12">
                <button class="h-35 w-100" pButton type="button" label="花子さま"></button>
              </div>
            </div>
            <div class="row">
              <div class="item item-12-12">
                <button class="h-35 w-100" pButton type="button" label="一郎さま"></button>
              </div>
            </div>
            <div class="row">
              <div class="item item-12-12">
                <button class="h-35 w-100" pButton type="button" label="世帯の全ての契約"></button>
              </div>
            </div>
          </div>

          <!--keiyaku multi select-->
          <div class="contract-list">
            <div class="box form-input">
              <div class="row">
                <h3 class="sub-page-title fs-16">ご契約をお選びください。<br>（複数選択できます）</h3>
              </div>
              <div class="row pay-info">
                <div class="item item-2-12 v-middle">
                    <img src="assets/image/ico_love.png" title="" alt="" />
                </div>
                <div class="item item-5-12 fs-14 v-middle">
                  <p>契約契約契約契約契約契約</p>
                  <p>ベストスタイル</p>
                  <p>保険料：12,704円/月払い</p>
                </div>
                <div class="item item-5-12 text-center v-middle">
                  <div class="logo">
                    <img src="assets/image/logo.svg" title="" alt="" />
                  </div>
                  <div class="pay-status">予約中（保険料支払込中）</div>
                </div>
              </div>
              <div class="row pay-info">
                <div class="item item-2-12 fs-14 v-middle">
                    <img src="assets/image/ico_love.png" title="" alt="" />
                </div>
                <div class="item item-5-12 fs-14 v-middle">
                  <p>契約契約契約契約契約契約</p>
                  <p>ベストスタイル</p>
                  <p>保険料：12,704円/月払い</p>
                </div>
                <div class="item item-5-12 text-center v-middle">
                  <div class="logo">
                    <img src="assets/image/logo.svg" title="" alt="" />
                  </div>
                  <div class="pay-status">予約中（保険料支払込中）</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--keiyaku about-->
        <div class="content">
          <div class="box progress-bar">
            <div class="item item-3-12"><span class="step">STEP2</span></div>
            <div class="item item-9-12">ご変更される内容について</div>
            <div class="process"><div class="percentage" style="width: 40%"></div></div>
          </div>
          <div class="box form-input">
            <div class="row">
              <h3 class="sub-page-title fs-16">ご変更になる（なった）のはいつですか？</h3>
            </div>
            <div class="row">
              <div class="item item-12-12">
                
              </div>
            </div>
            <div class="row">
              <h3 class="sub-page-title fs-16">新しいご住所をご入力ください。</h3>
            </div>
            <div class="row">
              <div class="item item-12-12">
                <div class="item item-6-12 text-left">郵便番号</div>
                <div class="item item-6-12 text-right"><span class="lbl-required">必須</span></div>
              </div>
              <div class="item item-12-12">
                <div class="item item-5-12">
                    <input class="w-100 h-35" autocomplete="off" type="text" pInputText>
                </div>
                <div class="item item-2-12 text-center">-</div>
                <div class="item item-5-12">
                    <input class="w-100 h-35" autocomplete="off" type="text" pInputText>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="item item-12-12"><a href="#" class="text-link">郵便番号から住所を自動入力</a></div>
            </div>
            <div class="row">
              <div class="item item-12-12">
                <div class="item item-6-12 text-left">都道府県</div>
                <div class="item item-6-12 text-right"><span class="lbl-required">必須</span></div>
              </div>
              <div class="item item-12-12">
                <p-dropdown styleClass="dropdown-w-100" laceholder="" optionLabel="name" [showClear]="true"></p-dropdown>
              </div>
            </div>
            <div class="row">
              <div class="item item-12-12">
                <div class="item item-6-12 text-left">市区町村</div>
                <div class="item item-6-12 text-right"><span class="lbl-required">必須</span></div>
              </div>
              <div class="item item-12-12">
                <input class="w-100 h-35" autocomplete="off" type="text" pInputText>
              </div>
            </div>
            <div class="row">
              <div class="item item-12-12">
                <div class="item item-6-12 text-left">建物名</div>
                <div class="item item-6-12 text-right"><span class="lbl-required">必須</span></div>
              </div>
              <div class="item item-12-12">
                <input class="w-100 h-35" autocomplete="off" type="text" pInputText>
              </div>
            </div>
          </div>

          <div class="box form-input">
            <div class="row">
              <h3 class="sub-page-title fs-16">新しい電話番号を入力ください。</h3>
            </div>
            <div class="row">
              <div class="item item-12-12">
                <input class="w-100 h-35" autocomplete="off" type="text" pInputText>
              </div>
              <div class="item item-12-12 text-left">例）0300000000</div>
            </div>
          </div>
        </div>

        <!--contact address-->
        <div class="content contact-add">
          <div class="box progress-bar">
            <div class="item item-3-12"><span class="step">STEP3</span></div>
            <div class="item item-9-12">本件のご連絡先について</div>
            <div class="process"><div class="percentage" style="width: 60%"></div></div>
          </div>
          <div class="box form-input">
            <!--./contracter-add-->
            <div class="contracter-add">
              <div class="row">
                <h3 class="sub-page-title fs-16">書類送付先はどちらですか？</h3>
              </div>
              <div class="row">
                <div class="item item-12-12">
                  <button class="h-35 w-100" pButton type="button" label="契約者住所"></button>
                </div>
              </div>
              <div class="row">
                <div class="item item-12-12">
                  <button class="h-35 w-100 btn-green" pButton type="button" label="その他"></button>
                </div>
              </div>
            </div>
            <!--./contracter-add-->

            <div class="row">
              <h3 class="sub-page-title fs-16">送付先ご住所をご入力ください。</h3>
            </div>
            <div class="row">
              <div class="item item-12-12">
                <div class="item item-6-12 text-left">郵便番号</div>
                <div class="item item-6-12 text-right"><span class="lbl-required">必須</span></div>
              </div>
              <div class="item item-12-12">
                <div class="item item-5-12">
                    <input class="w-100 h-35" autocomplete="off" type="text" pInputText>
                </div>
                <div class="item item-2-12 text-center">-</div>
                <div class="item item-5-12">
                    <input class="w-100 h-35" autocomplete="off" type="text" pInputText>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="item item-12-12"><a href="#" class="text-link">郵便番号から住所を自動入力</a></div>
            </div>
            <div class="row">
              <div class="item item-12-12">
                <div class="item item-6-12 text-left">都道府県</div>
                <div class="item item-6-12 text-right"><span class="lbl-required">必須</span></div>
              </div>
              <div class="item item-12-12">
                <p-dropdown styleClass="dropdown-w-100" laceholder="" optionLabel="name" [showClear]="true"></p-dropdown>
              </div>
            </div>
            <div class="row">
              <div class="item item-12-12">
                <div class="item item-6-12 text-left">市区町村</div>
                <div class="item item-6-12 text-right"><span class="lbl-required">必須</span></div>
              </div>
              <div class="item item-12-12">
                <input class="w-100 h-35" autocomplete="off" type="text" pInputText>
              </div>
            </div>
            <div class="row">
              <div class="item item-12-12">
                <div class="item item-6-12 text-left">建物名</div>
                <div class="item item-6-12 text-right"><span class="lbl-required">必須</span></div>
              </div>
              <div class="item item-12-12">
                <input class="w-100 h-35" autocomplete="off" type="text" pInputText>
              </div>
            </div>
          </div>
          
          <div class="box form-input">
            <div class="row">
              <div class="item item-12-12">
                <input class="w-100 h-35" autocomplete="off" type="text" pInputText>
              </div>
              <div class="item item-12-12 text-left">例）0300000000</div>
            </div>
          </div>

          <div class="row proxy text-center">
            <h3 class="sub-page-title fs-16 text-left">利用規約</h3>
            <div class="item item-10-12 content text-left">
              <h4>個人情報の取り扱いについて</h4>
              <p>テキストテキストテキストテキストテキストテキスト</p>
            </div>
          </div>

          <p>テキストテキストテキストテキストテキストテキストテキストテキスト<br>
             テキストテキストテキストテキストテテキストテキストテキストテキス<br>
             テキストテキストテキストテキストテテキストテキストテキ</p>
          <p style="color: red;">なお、こちらのフォームで、ご予約が確定いたします。</p>
        </div>

        <div class="content">
          <div class="form-input">
            <!--submit-->
            <div class="row">
              <div class="box text-center">
                <div class="btn btn-orange item-10-12">
                  <div class="guid item item-8-12">利用規約に同意して<br>入力内容を確認する</div>
                  <div class="arrow item item-2-12 text-right"><i class="pi pi-arrow-right fs-16"></i></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="box text-left">
                <div class="btn btn-gray item-10-12">
                  <div class="arrow item item-2-12 text-left">
                    <i class="pi pi-arrow-left"></i>
                  </div>
                  <div class="guid item item-8-12">前のページに戻る</div>
                </div>
              </div>
            </div>
            <!--./submit-->
          </div>
        </div>
      </div>
    <app-footer-link></app-footer-link>
    <app-footer></app-footer>
    </div>
  </section>

  <!--InsuranceProcedureConfirm-->
  <section id="InsuranceProcedureConfirm">
    <div class="container">
      <app-header></app-header>
      <div class="wrapper">
        <h2 class="sub-page-title fs-25">保険契約に関する手続き</h2>
        <div class="content">
          <div class="box">
            <div class="row">
              <div class="item item-4-12 fs-12">お手続き内容</div>
              <div class="item item-8-12 fs-12">契約情報の変更手続き</div>
            </div>
            <div class="row">
              <div class="item item-4-12 fs-12">ご契約者</div>
              <div class="item item-8-12 fs-12">山田　太郎　さま</div>
            </div>
            <div class="row">
              <div class="item item-4-12 fs-12">ご契約</div>
              <div class="item item-8-12 fs-12">E-終身保険</div>
            </div>
            <div class="row">
              <div class="item item-4-12 fs-12">変更日</div>
              <div class="item item-8-12 fs-12">2019/5/1</div>
            </div>
            <div class="row">
              <div class="item item-4-12 fs-12">新しいご住所</div>
              <div class="item item-8-12 fs-12">〒111-0011<br>東京都川内2-2-10<br>東京センタービル5F</div>
            </div>
            <div class="row">
              <div class="item item-4-12 fs-12">新しい電話番号</div>
              <div class="item item-8-12 fs-12">03-3333-3333</div>
            </div>
            <div class="row">
              <div class="item item-4-12 fs-12">払方変更</div>
              <div class="item item-8-12 fs-12">年払→月払</div>
            </div>
            <div class="row">
              <div class="item item-4-12 fs-12">書類送付先</div>
              <div class="item item-8-12 fs-12">契約者住所</div>
            </div>
            <div class="row">
              <div class="item item-4-12 fs-12">電話番号</div>
              <div class="item item-8-12 fs-12">契約者電話番号</div>
            </div>
          </div>

          <div class="box">
            <div class="item item-5-12"><button class="btn-gray h-35 w-100" pButton type="button" label="戻る"></button></div>
            <div class="item item-2-12"></div>
            <div class="item item-5-12"><button class="btn-orange h-35 w-100" pButton type="button"
              label="送信"></button></div>
          </div>
        </div>
      </div>
      <app-footer-link></app-footer-link>
      <app-footer></app-footer>
    </div>
  </section>

  <!--InsuranceProcedureRegisSuccess-->
  <section id="InsuranceProcedureRegisSuccess">
    <div class="container">
      <app-header></app-header>
      <div class="wrapper">
        <h2 class="sub-page-title fs-25">保険契約に関する手続き</h2>
        <div class="content">
          <div class="box">
            <div class="row">
              <div class="item item-12-12 fs-12"><p>ご連絡ありがとうございました。<br>後日、担当者からご連絡いたしますのでお待ちください</p></div>
            </div>
          </div>

          <div class="box">
            <div class="item item-12-12">
              <button class="btn-orange h-35 w-100" pButton type="button" label="ホーム画面へ戻る"></button>
            </div>
          </div>
        </div>
      </div>
      <app-footer-link></app-footer-link>
      <app-footer></app-footer>
    </div>
  </section>
</div>