<!--InsuranceProcedureConfirm-->
<section id="InsuranceProcedureConfirm">
  <div class="container">
    <app-header></app-header>
    <div class="wrapper">
      <!--page title-->
      <h1 class="padding3 fs-25">マイページ</h1>
      <h2 class="padding3 fs-20">保険手続き確認</h2>
      <div class="page-title-line-bt">
        <div class="l-orange"></div>
        <div class="l-gray"></div>
      </div>
      <!--./page title-->

      <div class="content padding3">
        <div class="box steps">
          <div class="row">
            <div class="item item-11-12 content">
              <div class="item item-2-12 step">
                <span style="color: #898989" class="heading">STEP1<br>手続き内容</span>
              </div>
              <div class="item item-2-12 step">
                <span style="color: #898989" class="heading">STEP2<br>変更内容</span>
              </div>
              <div class="item item-2-12 step">
                <span style="color: #898989" class="heading">STEP3<br>連絡先</span>
              </div>
              <div class="item item-2-12 step active">
                <span class="heading">STEP4<br>確認</span>
              </div>
              <div style="color: #898989"  class="item item-2-12 step inactive">
                <span class="heading">STEP5<br>受付完了</span>
              </div>
            </div>
          </div>
          <div class="dotted-line item item-7-12"></div>
        </div>

        <div class="box block">
          <h2 class="blk-title fs-20"><span class="step-arrow">STEP1</span>ご希望のお手続きについて</h2>
          <div class="box form-input">
              <div class="row name">
                <div class="item col-head v-top" style="border-top: none;">
                  ご希望のお手続きをお選びください。<br>
                  （複数選択可）<span class="error">必須</span>
                </div>
                <div class="item col-body">
                  <div class="item item-12-12 text-left">
                    <p>住所の変更</p>
                    <p>電話番号の変更</p>
                    <p>名義変更</p>
                    <p>受付人の変更</p>
                    <p>保険料お支払方法変更</p>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <div class="box block">
          <h2 class="blk-title fs-20"><span class="step-arrow">STEP2</span>ご変更内容について</h2>
          <div class="box form-input">
            <div class="row name">
              <div class="item col-head v-top" style="border-top: none;">
                変更になる（なった）目をご入力ください。<br>
                （複数選択可）<span class="error">必須</span>
              </div>
              <div class="item col-body">
                <div class="item item-12-12 text-left">
                  <p>2020年2月20日</p>
                </div>
              </div>
            </div>

            <div class="row name">
              <div class="item col-head v-top">
                新しい住所をご入力ください。
              </div>
              <div class="item col-body">
                <div class="row address-info">
                  <div class="item item-12-12 text-left">
                    <div class="item item-3-12">電話番号</div>
                    <div class="item item-1-12"><span class="error">必須</span></div>
                    <div class="item item-8-12">〒 113-0033</div>
                  </div>
                  <div class="item item-12-12 text-left">
                    <div class="item item-3-12">都道府県</div>
                    <div class="item item-1-12"><span class="error">必須</span></div>
                    <div class="item item-8-12">東京都</div>
                  </div>
                  <div class="item item-12-12 text-left">
                    <div class="item item-3-12">市区町村丁目・番地</div>
                    <div class="item item-1-12"><span class="error">必須</span></div>
                    <div class="item item-8-12">東京都</div>
                  </div>
                  <div class="item item-12-12 text-left">
                    <div class="item item-3-12">建物名</div>
                    <div class="item item-1-12"></div>
                    <div class="item item-8-12">センタービル4F</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row name">
              <div class="item col-head v-top">
                新しい電話番号をご入力ください。<br>
                （複数選択可）<span class="error">必須</span>
              </div>
              <div class="item col-body">
                <div class="item item-12-12 text-left">
                  <p>笑顔でいてね</p>
                  <p>ずっと元気で</p>
                  <p>一攫千金</p>
                  <p>億万長者</p>
                  <p>君といつまでも</p>
                </div>
              </div>
            </div>

            <div class="row name">
              <div class="item col-head v-top">
                受取人変更するご契約をお選びください。<br>
                （複数選択可）<span class="error">必須</span>
              </div>
              <div class="item col-body">
                <div class="item item-12-12 text-left">
                  <p>笑顔でいてね</p>
                  <p>ずっと元気で</p>
                  <p>一攫千金</p>
                  <p>億万長者</p>
                  <p>君といつまでも</p>
                </div>
              </div>
            </div>

            <div class="row name">
              <div class="item col-head v-top">
                保険料お支払方法の変更をするご契約をお選びください（複数選択可）<span class="error">必須</span>
              </div>
              <div class="item col-body">
                <div class="item item-12-12 text-left">
                  <p>笑顔でいてね</p>
                  <p>ずっと元気で</p>
                  <p>一攫千金</p>
                  <p>億万長者</p>
                  <p>君といつまでも</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="box block">
          <h2 class="blk-title fs-20"><span class="step-arrow">STEP3</span>本件のご連絡先について</h2>
          <div class="box form-input">
              <div class="row name">
                <div class="item col-head v-middle">ご契約者をお選びください。<span class="error">必須</span>
                </div>
                <div class="item col-body">
                  <div class="item item-12-12 text-left">
                    <p>太郎さま</p>
                  </div>
                </div>
              </div>

              <div class="row name">
                <div class="item col-head v-middle">ご契約者さまとの関係をお選びください。<span class="error">必須</span>
                </div>
                <div class="item col-body">
                  <div class="item item-12-12 text-left">
                    <p>契約者ご本人</p>
                  </div>
                </div>
              </div>

              <div class="row name">
                <div class="item col-head v-middle">書類送付先はどちらですか？<span class="error">必須</span>
                </div>
                <div class="item col-body">
                  <div class="item item-12-12 text-left">
                    <p>契約者住所</p>
                  </div>
                </div>
              </div>

              <div class="row name">
                <div class="item col-head v-middle">電話番号はどちらですか？<span class="error">必須</span>
                </div>
                <div class="item col-body">
                  <div class="item item-12-12 text-left">
                    <p>090-0001-0001</p>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <div class="box block">
          <div class="box form-input">
            <div class="row name">
              <div class="item col-head v-middle">利用規約</div>
              <div class="item col-body">
                <div class="item item-12-12 text-left">
                  <p>同意する</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="box btn-group sp">
          <div class="item item-12-12 text-left">
            <button class="btn-orange w-100" pButton type="button">
              <span class="fs-12">利用規約に同意して</span><br/>
              <span class="fs-16">入力内容を確認する</span>
            </button>
          </div>
          <div class="arrow_green item item-4-12 v-top"><button class="btn-gray h-35 w-100" pButton type="button" label="前のページに戻る"></button>
          </div>
        </div>

        <div class="box btn-group pc">
          <div class="arrow_green item item-4-12 v-top"><button class="btn-gray h-35 w-100" pButton type="button" label="前のページに戻る"></button>
          </div>
          <div class="item item-6-12 text-left">
            <button class="btn-orange w-100" type="button">
              <span class="fs-12">利用規約に同意して</span><br/>
              <span class="fs-16">入力内容を確認する</span>
            </button>
          </div>
        </div>

      </div>
    </div>
    <app-footer-link></app-footer-link>
    <app-footer></app-footer>
  </div>
</section>