 /*ProductInforUpdate*/
 @import './../../../assets/variables.scss';
 @import '../../../assets/_mixin.scss';

 /deep/ #ProductInfoConfirm .btn-orange.ui-button .ui-button-text{
    display: none !important;
}
.owl-nav {
    display: none;
}
.owl-dots {
    display: none;
}
#ProductInfoConfirm{
    .form-input{
        @include box-shadow(0px, 0px, 8px, #c8c8c8);
        @media screen and(max-width:768px) {
            @include box-shadow(0px, 0px, 4px, #c8c8c8);
        }
        margin: 30px 0;
        border-radius: 10px;
        overflow: hidden;
        display: table;
        width: 100%;
        .row{
            display: table-row;
            &:first-child{
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            &:last-child{
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                .col-head{
                    border-bottom: 1px #fbf7f4 solid !important;
                }
                .col-body{
                    border-bottom: none !important;
                }
            }
            &.birthday{
                .col-body{
                    text-align: left;
                }
            }
            .item{
                display: table-cell;
                &.col-head{
                    background: #fbf7f4;
                    height: 60px;
                    min-width: 222px;
                    text-align: left;
                    vertical-align: middle;
                    width: 20%;
                    font-weight: bold;
                    border-right: 1px #c8c8c8 solid;
                    border-bottom: 1px #c8c8c8 solid;
                    padding: 0 10px;
                    span.error{
                        text-align: right;
                        background: #FF6400;
                        color: #FFFFFF;
                        font-size: 12px;
                        padding: 3px 10px;
                        @include rounded(3em);
                        float: right;
                        font-weight: normal;
                    }
                }
                &.col-body{
                    padding-left: 10px;
                    width: 70%;
                    border-bottom: 1px #c8c8c8 solid;
                    .item{
                        // display: inline-block;
                        word-break: break-all;
                        padding: 10px 0;
                        vertical-align: top;
                        &.col-label{
                            margin-top: 5px;
                        }
                        .pi.pi-plus-circle{
                            color: #33804A !important;
                        }
                    }
                    .policy{
                        width: 100%;
                        height: 70px;
                        @include rounded(0.5em);
                    }
                    .auto-fill{
                        color:#33804A;
                        cursor: pointer;
                    }
                    &.address-info{
                        padding-bottom: 10px;
                        span.error{
                            text-align: right;
                            background: #FF6400;
                            color: #FFFFFF;
                            font-size: 12px;
                            padding: 0 6px;
                            @include rounded(3em);
                            float: right;
                            font-weight: normal;
                            margin-right: 10px;
                            &.green{
                                background: #33804A;
                            }
                        }
                        .col-label{
                            margin-top:7px;
                        }
                        .zip{
                            .col-label{
                                margin-top:17px;
                               
                            }
                        }
                    }
                }
            }
        }

        .row.yaku{
            .col-head{
                background: #FFF;
                border-right: 0;
            }
            .col-body{
                img{
                    width: 20px;
                    vertical-align: text-bottom;
                    margin-right: 10px;
                }
                .item.item-12-12{
                    padding-left: 30%;
                }
                .box.group{
                    .item.item-12-12{
                        padding-left: initial;
                        .item-1-12{
                            .pi.pi-minus-circle{
                                vertical-align: text-bottom;
                                color: red;
                            }
                        }
                        .item-2-12{
                            .pi.pi-bars{
                                color: #33804A;
                            }
                        }
                    }
                }
            }
        }
    }

    .btn-group{
        margin-bottom: 30px;
        .btn-gray{
            width: 80%;
            height: 30px;
            @include rounded(0.2em);
            @include box-shadow(0px, 0px, 8px, #c8c8c8);
            border:none;
            outline: none;
        }
        .btn-orange{
            width: 100%;
            font-weight: bold;
            padding: 5px 0;
            @include rounded(0.2em);
            @include box-shadow(0px, 0px, 8px, #c8c8c8);
            border:none;
            outline: none;
            span.fs-16{
                position: relative;
                top:15px;
            }
        }
    }

    .gender-btn {
        background-color: #fff; 
        color: #333333; 
        border: 1px solid #a6a6a6;
        border-radius: 3px;
        width: 80%;
        height: 35px;
    }
    .gender-selected {
        background-color: #fe6300; 
        color: #fff; 
        border-radius: 3px;
        border: 1px solid #fe6300;
        width: 80%;
        height: 35px;
    }
}

@media (max-width: 767px){
    #ProductInfoConfirm .form-input{
        display: inline-table;
        .row{
            .item{
                &.col-head{
                    display: inline-block;
                    height: initial;
                    padding:15px 10px;
                    width: 100% !important;
                    border-right: none;
                    border-bottom: 1px #c8c8c8 solid;
                }
                &.col-body{
                    display: inline-block;
                    width: 100%;
                    padding: 0 10px;
                    border-bottom: none;
                } 
            }
            &.birthday{
                .item{
                    text-align: center;
                    &.item-2-12{
                        width: 41%;
                    }
                    &.item-3-12{
                        width: 41%;
                    }
                    &.col-head{
                        text-align: left;
                    }
                    &.col-body {
                        text-align: left;
                        .item {
                            &:nth-of-type(2){
                                width: 55%;
                                text-align: left;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
            &.name{
                .item{
                    &.item-4-12{
                        width: 33%;
                    }
                    &.item-1-12{
                        width: 16.66666667%;
                    }
                    &.item-6-12{
                        width: 100%;
                    }
                    &.item-11-12, &.item-8-12{
                        width: 100%;
                    }
                }
                &.yaku{
                    .item.col-body{
                        .add_toku_popup{
                            margin-right: 0 !important;
                        }
                        .box.group{
                            .item.item-9-12{
                                width: 66.66666667%;
                                text-align: left;
                            }
                        }
                        .item.item-12-12{
                            padding-left: 0px !important;
                            text-align: center;
                        }
                    }
                    .item.col-head{
                        height: 1px !important;
                        padding:0 !important;
                    }
                }
            }
            &.gender{
                text-align: center;
                .item{
                    &.item-4-12{
                        width: 100%;
                    }
                }
                .gender-btn, .gender-selected{
                    width: 100% !important;
                }
            }
            &.phone{
                .item{
                    &.item-7-12{
                        width: 100%;
                    }
                }
            }
            &.mail-setting{
                .item{
                    &.item-10-12{
                        width: 100%;
                    }
                }
            }
            &.policy-h{
                .item{
                    &.item-11-12{
                        width: 100%;
                    }
                }
            }
            .address-info{
                .row{
                    .item{
                        &:nth-of-type(1),&:nth-of-type(2){
                            width: 50%;
                            padding:0;
                        }
                    }
                    .add-content{
                        width: 100%;
                        .item{
                            &.item-3-12{
                                width: 25%;
                                padding:0;
                            }
                            &.item-2-12{
                                width: 16.66666667%;
                            }
                        }
                    }
                    &:nth-of-type(2),&:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5) {
                        .item{
                            &:nth-of-type(3){
                                width: 100%;
                            }
                        }
                    }
                }
                span.error{
                    padding: 2px 15px !important;
                }
            }
        }
    }
    .btn-group{
        .arrow_green{
            margin-top: 15px;
        }
        .item-4-12{
            width: 75%;
        }
    }
}
@media (max-width: 768px){
    .btn-group{
        .arrow_green{
            margin-top: 15px;
        }
    }
}

.item-popup {
    margin-top: 20px; 
    margin-bottom: 20px; 
    border-bottom: 1px solid #c8c8c8; 
    height: 35px;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.item-popup:hover {
    background: $color-orange;
    color: $color-white;
}
.plus-icon:hover {
    color:#007ad9;
}