.btn-choose-agent{
    background-image: url("../../../assets/image/btn_choose_agent.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 78px;
    color: #FFFFFF;
    margin-bottom: 15px;
    cursor: pointer;
}
.btn-choose-agent span{
    line-height: 78px;
    vertical-align: middle;
}
.sub-title{
    margin: 15px 0;
}
.bottom0 {
    right: 0px;
    bottom: 0px;
    left: 0px;
}