@import './../../../../assets/variables.scss';

#footer-link {
    .menu-link {
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 10px;
        padding-bottom: 20px;
        background-color: $color-footer;
        color: $color-black-text;
        
        
        .height-link {
            display: inline-table;
        }
        .container-text {
            overflow-x: scroll;
            width: 100%;
            margin-bottom: 10px;
            .text-head {
                width: 550px;
                padding-bottom: 10px;
            }
        }
       
        .border {
            border-bottom: 2px solid $color-border-gray;
        }
        
        .text-link {
            text-decoration: underline;
            cursor: pointer;
            font-size: 13px;
            
        }
    }
    .container-link {
        width: 25%;
        // float: left;
    }
    .sponsor {
        width: 50%;
    }
    .spbc{
        display: none;
    }
    .h-100px {
        display: flex;
        align-items: center;
        background-color: $color-footer;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 20px;
        .flex-content {
            display: flex;
            align-items: center;
            .image-footer {
                height: 100px;
                margin-right: 20px;
            }
            .text-image-footer {
                text-align: left;
                height: 100%;
                // padding-top: 25px;
                display: flex;
                align-items: center;
                // line-height: 80px;
            }
        }
    }
    .social-link {
        .social {
            width: 100%; 
            margin: auto; 
            border-top: 2px solid #eae5e1; 
            position: relative;
            .link-social {
                margin: auto; 
                text-align: center; 
                padding-top: 25px;

            }
            .list-social {
                position: absolute;
                right: 0px;
                top: 0px;
                height: 40px;
                margin: auto;
                width: 150px
            }
        }
    }
    .copyright {
        text-align: center;
        background-color: $color-orange;
        color: $color-white;
        padding: 15px;
        // font-weight: bold;
    }

    .copyright2 {
        text-align: center;
        background-color: $color-orange;
        color: $color-white;
        padding: 15px;
        
        position: absolute;
        bottom: 81px;
    }
       
    .blank {
        height: 80px;
        width: 100%;
        
    }
    .next-line {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #footer-link {
        .menu-link {
            
            .border {
                border-bottom: none;
            }
            .height-link {
                display: inline-table;
            }
        }
        .container-link {
            width: 50%;
            // float: left;
        }
        .sponsor {
            width: 100%;
        }
        .social-link {
            .social {
                .list-social {
                    position: relative;
                    height: 40px;
                    margin: auto;
                    width: 160px
                }
            }
        }
    }
    .spbc{
        display: block !important;
    }
    .h100 {
        height: 45%;
        margin-bottom: 20px;
    }
    .border-top {
        border-top: 2px solid $color-border-gray;
        padding-top: 20px;
    }
    
}

@media screen and (max-width: 400px) { 
    #footer-link {
        .social-link {
            .social {
                .link-social {
                    span {
                        font-size: $font-size-small;
                    }
                }
            }
        }
        .menu-link {
            .text-link {
                text-decoration: underline;
                cursor: pointer;
                font-size: 11px;
            }
        }
    }
}
@media screen and (max-width: 500px) { 
    #footer-link {
        .next-line {
            display: block;
        }
    }
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}
.footer-link-custom{
    position: absolute;
    bottom: 0px;
    width: 100%;
}