<section id="setting-pass">
<div class="container">
  <app-header></app-header>
  <div class="wrapper">
    <!--page title-->
    <h1 class="padding3 fs-25">マイページ</h1>
    <h2 class="padding3 fs-20">パスワード変更</h2>
    <div class="page-title-line-bt">
        <div class="l-orange"></div>
        <div class="l-gray"></div>
    </div>
    <!--./page title-->
    <div class="content padding3" [formGroup]="settingPassGroup" >
        <div class="box form-input text-center">
            <div class="center w-40 text-left margin-bot-10">
                <label class="fs-14">現在のパスワード</label>
            </div>
            <span class="input ui-float-label center w-40">
                <input [ngClass]="helper.displayCssError(settingPassGroup,'oldPass')" autocomplete="off" formControlName="oldPass" id="pass-temp" class="w-100 center h-35" type="password" size="15" pInputText>
                <div *ngIf="settingPassGroup.invalid" style="margin-top:10px; text-align: left">
                    <div *ngIf="!settingPassGroup.controls.oldPass.value&&(settingPassGroup.controls['oldPass'].dirty || settingPassGroup.controls['oldPass'].touched)">
                        <p-message severity="error" text={{MESSAGE.tempPassRequire}} ></p-message>
                    </div>
                </div>
            </span>
            <div class="center w-40 text-left margin-bot-10">
                <label class="fs-14">新しいパスワード</label>
            </div>
            <span class="input ui-float-label center w-40 ">
                <input [ngClass]="helper.displayCssError(settingPassGroup,'newPass')" (keyup)=comparePass() autocomplete="off" formControlName="newPass" id="pass-new" class="w-100 center h-35" type="password" size="15" pInputText>
                <div *ngIf="settingPassGroup.invalid" style="margin-top:10px; text-align: left">
                    <div style="margin-top:5px" *ngIf="!settingPassGroup.controls.newPass.value&&(settingPassGroup.controls['newPass'].dirty || settingPassGroup.controls['newPass'].touched)">
                            <p-message severity="error" text={{MESSAGE.newPassRequire}} ></p-message>
                    </div>
                    <div style="margin-top:5px" *ngIf="settingPassGroup.controls.newPass.errors&&settingPassGroup.controls.newPass.errors.pattern&&(settingPassGroup.controls['newPass'].dirty || settingPassGroup.controls['newPass'].touched)">
                        <p-message severity="error" text={{MESSAGE.newPassPolicy}} ></p-message>
                    </div>
                    <div style="margin-top:5px;" *ngIf="settingPassGroup.controls.newPass.errors&&settingPassGroup.controls.newPass.errors.PassEqualEmail&&(settingPassGroup.controls['newPass'].dirty || settingPassGroup.controls['newPass'].touched)">
                        <p-message severity="error" text={{MESSAGE.newPassEqualUser}} ></p-message>
                    </div>
                </div>
            </span>
            <div class="center w-40 text-left margin-bot-10">
                <label class="fs-14">新しいパスワード（確認）</label>
            </div>
            <span class="input ui-float-label center w-40 ">
                <input [ngClass]="helper.displayCssError(settingPassGroup,'newPassConfirm')" (keyup)=comparePass() autocomplete="off" formControlName="newPassConfirm" id="pass-confirm" class="w-100 center h-35" type="password" size="15" pInputText>
                <div *ngIf="settingPassGroup.invalid" style="margin-top:10px;">
                    <div style="margin-top:5px; text-align: left" *ngIf="!settingPassGroup.controls.newPassConfirm.value&&(settingPassGroup.controls['newPassConfirm'].dirty || settingPassGroup.controls['newPassConfirm'].touched)">
                        <p-message severity="error" text={{MESSAGE.confirmPassRequire}} ></p-message>
                    </div>
                </div>
                <div style="margin-top:5px; text-align: left" *ngIf="showMessage">
                    <p-message severity="error" text={{MESSAGE.passNotMatch}} ></p-message>
                </div>
            </span>
            <p class="text-center note fs-14">弊社からのメールが届かない際は、念のため迷惑メールフォルダをご確認ください。</p>
            <button class="btn-orange" [disabled]="settingPassGroup.invalid || showMessage" (click)="changePassword()" pButton type="button" label="パスワード変更"></button>
            <br>
            <div *ngFor="let error of listErrors">
                <p-message severity="error" text={{error.errMessage}}></p-message>
            </div>
        </div>
    </div>
  <app-loading [loading]="loading"></app-loading>
  <app-footer-link></app-footer-link>
  <app-footer></app-footer>
</div>
</div>
</section>
