<!--MailUpdate-->
<section id="MailUpdateSucess">
  <div class="container">
    <app-header></app-header>
    <div class="wrapper">
      <div class="content padding3">
        <div class="box text-center form-input">
          <div class="row">
            <h3>
              システムメンテナンス中のため一時停止しております。<br>
              ご迷惑をおかけいたしますが、メンテナンス終了後に再度アクセスしていただきますようお願い申し上げます。
            </h3>
          </div>
        </div>
      </div>
    </div>
    <app-footer-link></app-footer-link>
    <app-footer></app-footer>
  </div>
</section>