// color
$color-white: #ffffff;
$color-black-text:#333333;
$color-dark-text:#333333;
$color-number-list: #8ccb7a;
$color-orange: #ff6400;
$color-bg-red: #F16201;
$color-bg-gray: #F8F7F5;
$color-btn-login: #f1fcf4;
$color-a-tag: #007ad9;
$color-bg-footer: #fee4c9;
$color-yellow-pale: #f2fcf3;
$color-border-gray: #eae5e1;
$color-footer: #fbf7f6;
$color-bg-sidebar: #ffd9c0;
$color-green: #5d9a6e;
$color-green2: #fee0be;
$color-yellow: #fcc35a;

//font-size
$font-size-smallest: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-big: 16px;
$font-size-biger: 20px;
$font-size-biggest: 25px;